@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Outfit", sans-serif;
}

.card {
  background-color: white;
  width: min(320px, 90%);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 320px;
}

.qr-code img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

.title h1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 7px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  width: 80%;
  margin: 0 auto;
}

.description p {
  font-size: 15px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: hsl(216, 15%, 48%);
  width: 80%;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
